/* src/components/About/About.css */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
}

.about .content_about {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  justify-content: center;
  width: 70vw;
  align-items: center;
  gap: 2px;
  border: 1px var(--text);
  padding: 2em;

  border-radius: 20px 40px 60px;
  box-shadow: inset 2px 2px 2px rgba(223, 174, 219, 0.6);
  gap: 5px;
  animation: text_write 0.2s;
  transition: 1s ease-in-out;
}

.about .content_about:hover{
  opacity: 1;
  cursor: pointer;
  box-shadow: inset 20px 10px 20px rgb(226, 38, 195);
}

.about h1 {
  font-size: 2.5rem; /* Tamaño del encabezado */
  margin-bottom: 1.5rem; /* Espaciado inferior */
  font-family: var(--font1);
  color: var(--hover);
 
}

p {
  font-size: 1.5rem; /* Tamaño del texto */
  margin-bottom: 1.5rem; /* Espaciado inferior */
  /* Espaciado entre líneas para mejor legibilidad */
  max-width: 900px; /* Limitar el ancho del texto para mejor legibilidad */
  margin-left: auto; /* Centrar el texto */
  margin-right: auto; /* Centrar el texto */
  color: var(--text);
  text-align: justify;
  font-family: var(--font);
}


.space {
  height: 4vh;
}

.experiencia {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 62vw;
}

.card_experiencia {
  border: 1px  white;
  border-radius: 15px 25px 60px 15px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  background: var(--degradate);
  overflow: hidden;
  width: 32%;
}

.card_experiencia .exp_title {
  padding: 0.5em;
  margin: 0.5em;
}

.card_experiencia .exp_fecha {
  display: flex;
}

.card_experiencia .exp_fecha p {
  color: var(--text);
  font-size: 1.2rem;
  font-family: var(--font);
}

.card_experiencia .exp_descript {
  width: 100%;
}

.card_experiencia .exp_descript p {
  margin: 0.5em;
  color: var(--primary);
  margin-bottom: 2em;
  height: 25vh;

  transition: 1.5s ease-in-out;
  font-family: monospace;
  font-size: 1rem;
}

.card_experiencia:hover .exp_descript p {
  height: 50vh;
}


.card_experiencia .ver_mas button {
  background: var(--degradate2);
  padding: 1em;
  width: 30%;
  border-radius: 15px;
  color: var(--text);
  animation: 1s ease;
}

@media (max-width: 900px) {
  .card_experiencia {
    display: block;
    width: 100%;
    margin-top: -100px;
    height: 13vh;
  }
  .card_experiencia:hover {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 100px;

    z-index: 100;
  }
}

@media (max-width: 640px) {
  .card_experiencia {
    display: block;
    width: 100%;
  }
  .card_experiencia:hover {
    display: block;
    width: 100%;
    height: auto;
  }
}
