/* src/components/Navbar/Navbar.css */

.navbar {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 10px 20px;
  background-color: var(--background); /* Fondo semitransparente */
  position: sticky;
  top:15px;
  width: 80%;
  z-index: 1000; /* Asegurarse de que esté encima de otros elementos */
  transition: background-color 0.3s infinite; /* Transición suave para fondo */
  border-radius: 15px;
  box-shadow: 15px 15px 15px rgba(20, 16, 16, 0.5);
}

.navbar.light {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo claro semitransparente */
  display: flex;
}

.theme-toggle {
  cursor: pointer;
  font-size: 1.5em; /* Tamaño de fuente para el icono */
  margin-left: 20px; /* Margen a la izquierda */
}
  
nav .logo h1{
  background: var(--text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-family: var(--font1);
  animation: shadowmo 5s infinite forwards;
}

@keyframes shadowmo {
  0%{text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);}
  20%{text-shadow: 5px 6px 15px rgba(153, 23, 170, 0.8);}
  40%{text-shadow: 10px 50px 5px rgba(150, 7, 233, 0.8);}
  80%{text-shadow: 5px 6px 25px rgba(153, 23, 170, 0.8);}
  100%{text-shadow: 0px 3px 10px rgba(150, 7, 233, 0.8);}
}

  .logo {
    font-size: 1.5em;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  
  .profile-pic {
    width: 6em; /* Ajusta el tamaño según lo necesites */
    border-radius: 50%; /* Hacer la imagen circular */
    margin-right: 1rem; /* Espaciado entre la imagen y el texto */
  }
  
  .name-profession {
    display: flex;
    flex-direction: column; /* Coloca el nombre y profesión en columnas */
  }
  
  .name {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: monospace;
  }
  
  .profession {
    font-size: 0.9rem; /* Tamaño de la profesión */
    color: var(--text); /* Color más claro para la profesión */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    
  }
  
  .nav-links li a {
    color: var(--primary);
    text-decoration: none;
    transition: 0.5s ease;
  }
  
  .nav-links li a:hover {
    color:var(--hover);
    font-size: 1.3rem;
  }

  .menu-icon {
    display: none; /* Ocultar por defecto */
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    height: 3px; /* Altura de las barras del menú */
    width: 25px; /* Ancho de las barras del menú */
    background-color: var(--secondary); /* Color de las barras */
    margin: 4px 0; /* Espaciado entre barras */
    transition: 0.3s; /* Transición suave */
  }

  /*<nav className={`navbar ${isDarkMode ? 'dark' : 'light'}`}>
      <div className="logo"></div>
      <div className={`menu-icon ${isOpen ? 'open' : ''}`} onClick={toggleMenu}>
        <div className="bar"></div>
        <div className="bar"></div>
        <div className="bar"></div>
      </div>
        <div className="logo">
       <h1> Life-Folio</h1>
      </div>*/

  
  
  /* Estilos para el menú de hamburguesa */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 60px; /* Alineación con la parte superior del navbar */
      right: 0;
      background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
      flex-direction: column; /* Colocar enlaces en columna */
      width: 100%; /* Ancho completo */
      height: 0; /* Altura inicial en 0 */
      overflow: hidden; /* Ocultar enlaces */
      transition: height 0.3s ease; /* Transición suave */
    }
  
    .nav-links.active {
      height: auto; /* Permitir altura automática cuando está activo */
    }
  
    .menu-icon {
      display: flex; /* Mostrar menú de hamburguesa en móviles */
    }
  }

  strong{
    color:pink;
  }
  
  