button{
display: flex;
justify-content: center;
width: auto;
height: 3em;
color: var(--text);
border-radius: 15px;
transition: .2s ease-in-out;
background-color: var(--textdark);
border-style: none;
filter: sepia(80%);
padding: 1rem;

}

.button-container button{
    display: flex;
    align-items: center;
    gap: 15px;
}

h4{
    font-size: 1rem;
    
}

.button-container button:hover{
    color:var(--hover);
    scale: 1.1;
    cursor: pointer;
    background-color: var(--background);
    filter: sepia(0%);
}

button .img-reut{
    width: 2em;
    height: 2em;
}

a{
text-decoration: none;
}

a:hover{
    text-decoration: none;
    }

