/* src/styles.css */
footer {
  position: relative;
    background-color: var(--background); /* Color de fondo */
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content: center;
    
    overflow: hidden;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 60px;
  }

  .footer-content .copyright{
    font-size: 1.3rem;
  }
  
  
  