#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  background-color: black;
}


/* src/App.css */
.app {
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

.app.light {
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
}

.app.dark {
  background-color: #121212; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
}


/*Screens*/


@keyframes text_write{
  from{width: 0%; }
  to{width: 100%; }
}

@keyframes fast{
  0%{opacity:0; translate: 0px;}
  25%{translate: 40px;}
  50%{translate: 80px;}
  100%{translate: 0px;}
}
